@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    header nav li ul,
    #newletter h1,
    #newletter form,
    #boxes .box
    {
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newletter button{
        display: block;
        width: 100%;
    }
    #newletter input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }

}



body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
header{
    background : linear-gradient(to right, #1949e6 ,#e319e6);
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #e319e6;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
header #branding, header .active a{
    color: white;
    font-weight: bold;
}
header a:hover{
    color: #1949e6; 
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background: url(background.jpg) no-repeat fixed  ;
    -webkit-background-size: 100% 100%;
   -moz-background-size: 100% 100%;
   -o-background-size: 100% 100%;
   background-size: 100% 100%;
   text-align: center;
   color: whitesmoke;
}
#showcase h1{
    margin-top: 120px;
    font-size: 55px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #576166;
}
#showcase p{
    font-size: 20px;
    color: #ffffff;
}
#newletter{
    padding: 15px;
    color: white;
    background : linear-gradient(to right,#e319e6,#1949e6);
}
#newletter h1{
    float: left;
}
#newletter form{
    float: right;
    margin-top: 15px;
}
#newletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.buttonsubs{
    height: 38px;
    background-color: #e319e6;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
#boxes{
    margin-top: 20px;
    margin-left: 20%;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    color: black;
}
#boxes .box img{
    width: 90px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background : linear-gradient(to right, #1949e6 ,#e319e6);
    text-align: center;
}

